</div>
<div class="footer-padding"></div>
<div class="footer">
  <p style="margin-top: 25px; margin-bottom: 8px">Made with ❤️ by Bharti Patel</p>
  <p style="margin-top: 8px; margin-bottom: 25px">Instructor: Angela Yu | London App Brewery</p>
</div>
</div>
</body>

</html>
